/*For the moblie device*/
body {
    flex-direction: column;
    align-content:
}
.alert-info {
    background-color: turquoise;
    border: 2px solid lightgray;
}




@media screen and (min-width: 768px) {
    body {
        flex-direction: row;
        background-color: green;
    }
}


